body {
  font-size: 16px;
  background-color: #f9f7fe;
  font-family: sans-serif;
}
a {
  color: #885df1;
}
h1 {
  text-align: center;
  font-size: 36px;
}
h2 {
  margin: 0;
  font-size: 24px;
}
footer {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}
select {
  display: block;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
}
small {
  font-size: 22px;
  line-height: 44px;
  vertical-align: middle;
}
.container {
  max-width: 600px;
  margin: 50px auto 10px;
  border-radius: 15px;
  background-color: white;
  padding: 10px 50px 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.city {
  display: flex;
  margin: 10px;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 1px dashed lightgray;
}
.city:last-child {
  border: none;
}
.date {
  margin: 3px;
  opacity: 0.7;
}
.time {
  align-content: flex-end;
  margin-left: 15px;
  font-size: 44px;
  font-weight: bold;
}
